<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GALLERY</title>
    <style>
      #A {
        width: 500px;
        margin: auto;
        background-color: aqua;
      }
    </style>
  </head>
  <body>
<form method="post" action="/user" enctype="multipart/form-data">
 <input type="text" name="first_name" value="">
 <input type="text" name="last_name" value="">
 <input type="file" name="image_url" value="">
<input type="submit" value="save">
</form>
  </body>
</html>
